/*Обнуление*/
* {
	padding: 0;
	margin: 0;
	border: 0;
}
*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,
:active {
	outline: none;
}
a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}
button {
	cursor: pointer;
}
button::-moz-focus-inner {
	padding: 0;
	border: 0;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
ul li {
	list-style: none;
}
img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: 400;
}
/*---------Конец обнуляющих тегов-----------*/
.page {
	font-family: Montserrat;
	max-width: 1920px;
	max-height: 1583px;
}
.header {
	border-bottom: 1px solid #e5e5e5;
	width: 100%;
	height: 103px;
	display: inline-block;
}
.header-container {
	width: 1199px;
	height: 103px;
	margin: 0 auto auto 367px;
}
.menu-logo {
	vertical-align: middle;
	width: 138px;
	height: 37px;
	margin: 32px 167.5px 34px auto;
	display: inline-block;
}
.menu-list {
	color: black;
	font-size: 15px;
	text-align: center;
	display: inline-block;
}
.menu-list li {
	font-style: normal;
	font-weight: 600;
	font-size: 15px;
	line-height: 18px;
	margin: auto 60.5px auto 0;
	display: inline-block;
}
.menu-list :last-child {
	margin: auto;
}
.link {
	color: black;
}
.link-active {
	color: #3562d6;
}
.container {
	width: 100%;
}
.container {
	margin: 0 auto;
	width: 1199px;
	height: auto;
}
.block-title {
	margin: 37px 12px 77px 15px;
}
.title {
	font-weight: 700;
	font-size: 40px;
	line-height: 49px;
	color: #333333;
	text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section {
	border: 1px solid #e5e5e5;
	width: 1192px;
	height: 342px;
	margin: 32px 0 0 23px;
}
.section-text {
	max-width: 747px;
	max-height: auto;
	display: inline-block;
	margin: 0px 0px 41px 46.5px;
}
.title2 {
	font-family: Montserrat;
	font-style: normal;
	font-weight: bold;
	font-size: 20px;
	line-height: 27px;
	color: #333333;
	margin: 41px auto 19px auto;
}
.text {
	display: inline-block;
	font-style: normal;
	font-weight: normal;
	font-size: 15px;
	line-height: 25px;
	color: #666666;
}
.section-list {
	display: inline-block;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	line-height: 21px;
	margin: 6px auto auto 15px;
}
.section-item {
	list-style-type: disc;
	color: #3562d6;
	margin: 5px 11px auto auto;
	line-height: 21px;
}
.section-item span {
	color: #333333;
}
.price {
	font-style: normal;
	font-weight: 600;
	font-size: 18px;
	line-height: 25px;
	margin: 29px auto;
}
.section-image {
	margin: 47px 47px 0 0;
	float: right;
	display: inline;
	width: 300px;
	height: 201px;
}
